/* 
    Created on : 30.1.2017, 16:10:33
    Author     : ondra
*/

.big_header {
    height: 370px;
    margin-bottom: 50px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    position: relative;

    .social {
        ul a li {
            opacity: 0.7;
        }    

        &.show-for-small-only {
            padding-top: $gutter;

            ul {
                a li {
                    float: left;
                }   
            }
        }        
    }

    .valign_bottom {
        bottom: 35px;
    }

    .social_inner {
        right: $gutter;
    }

    .bottom {
        height: 100%;
        position: relative;

        h1, h2, .social_inner {
            position: absolute;
        }

        h1 {            
            bottom: 70px; // not for atelier tpl
            text-shadow: 0 0 30px $black;
        }

        .social_inner {
            bottom: 0px;
        }

        h2 {            
            bottom: 35px;
            margin-bottom: 0px;
            color: $white;
        }

        .brand_logo {
            position: absolute;
            bottom: 0;
            left: $gutter - calculateRem($brand_logo_padding);            
            padding: $brand_logo_padding;
            background: $greylight;

            img {
                height: 80px;
            }
        }
    }

    h1 {
        color: #FFF; 
        margin-bottom: 0;
    }

    .gradient {
        position: absolute;
        bottom: 0;
        height: 110px;
        width: 100%;

        @include gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));   
    }    

    h1, .social {
        z-index: 9;
    }

    .big_header_image {
        margin-bottom: 20px;
    }
}

.architects {
    margin-right: $marright;  
    margin-top: 20px;
    margin-bottom: 40px;

    .item {
        background-color: $grey2;
        margin-bottom: $tot_gutter;
        height: 120px;

        @include floatfix;
        @include hopacity;

        img {
            float: left;
            padding-right: 20px;
            height: 100%;
        }

        .inner {
            height: 100%;
            font-size: 1.1rem;

            .name {
                color: $basecolor;
                margin-bottom: 0px;
                margin-top: 10px;
                font-size: inherit;
                line-height: inherit;
                font-weight: $fbold;                
            }

            .text {
                color: #000;                
            }
        }

    }
}

#tpl_atelier_detail {
    .big_header {
        .bottom {
            h1 {
                bottom: 35px;
            }   
        }   
    }
}

#tpl_katalog_detail {
    h1 {
        font-size: 1.5rem;
        font-weight: $flight;
        line-height: 2rem;   
    }    
}


@media (max-width: 64em) {
    .architects {
        margin-right: initial;

        .item {
            img {
                padding-right: 15px;
            }
        }
    }

    .leftbar {
        .details, .text {
            margin-right: 0;
        }
    }

    @media (max-width: 40em) {
        .big_header {
            height: 250px;
        }
    }
}