/* 
    Created on : 31.1.2017, 12:16:49
    Author     : ondra
*/

#tpl_buildings {
    .filters_form {
        margin-right: $marright;
        margin-bottom: $marbottom;
    }
}

#tpl_building_detail {

   /* .big_header {
        .bottom {
            h1 {
                bottom: 35px;
            }   
        }   
    }*/


    .comments {
        .chead, .cbody, .call {
            margin-right: 0;
        }
    }    

    .related {
        padding-right: 0;
    }   
}

.map {
    height: 400px;
    padding-right: $padright;
}

.stavba_items {
    h2 {
        font-size: 1.5rem;
        padding-top: 13px;
        margin-bottom: $gutter;
        font-weight: $fbold;
    }    

    ul {
        margin: 0;
        list-style: none;
    }

    &>ul {


        //@include hopacity;

        &>li {
            &:before {
                //content: "\f054";
                content: ">";
                //  display: inline-block;
                //font: normal normal normal 14px/1 FontAwesome;
                /* text-rendering: auto;
                 -webkit-font-smoothing: antialiased;
                 -moz-osx-font-smoothing: grayscale;*/

                //  font-size: 0.5rem;
                //vertical-align: middle;
                padding-bottom: 3px;
                //padding-right: 0.5rem;
            }


        }
    }
}

.text_box {
    max-height: 300px;
    overflow: hidden;
    position: relative;
    @include transition();

    &.open {
        max-height: 1000px;
        @include transition();
    }

    .gradient {
        position: absolute;
        bottom: 0;
        height: 70px;  
        width: 100%;

        @include gradient(0deg, rgba($greylight, 1), rgba($greylight, 0.5), rgba($greylight, 0));





    }        
}



@media screen and (max-width: 64rem) {
    #tpl_buildings {
        .filters_form {
            margin-right: 0;        
        }
    }

    .map { 
        padding-right: 0;
    }
}