/* 
    Created on : 20.1.2017, 14:34:48
    Author     : ondra
*/

// $violet: #804996; // - violet
$violet: #0279ce; // blue
$greylight: rgb(245,245,247);
$grey2: rgb(230,230,230);
$grey3: rgb(185,185,185);
$grey3_5: rgb(130,130,130);
$grey4: rgb(75,75,75);
$black: #000;
$white: #FFF;



