/* 
    Created on : 27.1.2017, 9:14:01
    Author     : ondra
*/

h2 {
    font-size: 1.4rem;
    color: #000;
    font-weight: $fbold;
    margin-bottom: 1.6rem;
    margin-top: 1.1rem;
}

a {
    color: $basecolor;

    &:hover, &:active, &:focus {
        color: $basecolor;
    }
}

.align-right {
    text-align: right;
}

.bold {
    font-weight: $fbold;
}

.padding20 {
    padding: 20px;
}

.padright, .r_padding {
    padding-right: $padright;
}

.column-block {
    .project_box {
        margin-bottom: 0;
    }
}

hr {
    margin-left: $gutter;
    margin-right: $gutter;
}

.w100 {
    width: 100%;
}

.r_margin {
    margin-right: $marright;
}

/*.r_padding {
    padding-right: $marright;
}*/

.white {
    color: #FFF;

    a {
        color: #FFF;
    }
}

.grey {
    color: $grey3;
}

.bc_black {
    background-color: $black;
}

.valign_bottom {
    position: absolute;
    left: $gutter;
    right: $gutter;
    bottom: 0;
}

.h100 {
    height: 100%;
}

.z9 {
    z-index: 9;
}

.flex-gallery {
    .thumbs {
        padding-left: calc(#{$gutter} - #{7px});
        padding-right: calc(#{$gutter} - #{7px});
    }   
}

.posrel {
    position: relative;
}

.pretopbar {
    background-color: $grey3_7;
}

/*LOAD MORE*/

.load_more, .add_event {
    background-color: $basecolor;
    color: #FFF;        
    cursor: pointer;
    text-align: center;         
    margin-bottom: 35px;

    @include hopacity();
}

.load_more {
    //margin-right: $padright;
    margin-right: $space_l_wtht_gutter;
    height: $lm_height;
    line-height: $lm_height;
    font-weight: bold;   
}

.fix_top_height {
    height: 50px;
    margin-bottom: 25px;

    &.social {
        height: 50px;
    }
}

.column-block {
    .project_box {
        margin-bottom: 0;
    }
}

.violet, .blue {
    color: $basecolor;
}

.seo-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0,0,0,0);
    border: 0;
}

.printonly {
    display: none;
}

@media (max-width: 64em) {
    .padright, .r_padding {
        padding-right: 0;
    }

    .bannerr_small, .bannerr_big {
        text-align: center;
    }
}

@media print {
    .noprint {display: none}  

    .printonly {
        display: block;
    } 

    a[href]:after {
        content: none;
    }

    .topbar {
        position: relative;

        .mainlogo {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-bottom: 0 !important;
        }

        &.fixed {
            position: relative !important;
        }
    }

    #tpl_homepage {
        .midbanner {
            display: none;       
        }   
    }

    .project_box {
        -webkit-print-color-adjust:exact;
        background: initial !important;
        height: 70px !important;
    }    

    .h100 {
        height: initial;
    }

    .topbar {
        .mainmenu {
            ul {
                list-style: initial !important;
                li{
                    display: block !important;
                    float: initial !important;      

                    a div .offers {
                        &:before {
                            content: '(';
                        }

                        &:after {
                            content: ')';
                        }
                    }
                }   
            }
        }
    }        

    .mproduct {
        height: initial !important;

        .title {
            span {
                padding: 4px 5px 4px 0;
            }
        }

        .description {
            position: relative !important;
        }
    }

}