/* 
    Created on : 20.1.2017, 14:41:12
    Author     : ondra
*/

.topbar {    
    height: $height_topbar;

    &>.row {
        //background: #000;

        .topbarleft {
            display: table; 
            height: 100%;
        }
    }

    &, & a, & a:hover {
        color: #FFF;    
    }

    .mainlogo, .mainmenu {
        //float: left;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }

    .mainlogo {
        padding-left: $slider_padding;
        padding-right: 20px;
        padding-bottom: 3px;
    }

    .mainmenu {
        ul {
            font-size: 1.1rem;
        }
    }

    .mainmenu, .langmenu, .icons {
        ul {
            margin: 0;
            list-style: none;
            display: table;
            height: 100%;
            position: relative;

            li {
                height: 100%;
                display: inline-block;
                padding: 0 10px;
                text-transform: uppercase;
                float: left;

                a, div {
                    height: 100%;
                    display: table;
                    cursor: pointer;

                    div {
                        height: 100%;
                        display: table-cell;
                        vertical-align: middle;

                        .offers {
                            background-color: $basecolor;
                            padding: 10px 7px;                            
                            margin-left: 5px;
                            border-radius: 50%;
                            font-size: 0.75rem;
                            font-weight: bold;
                        }
                    }

                    &:hover {
                        opacity: 1;                                                
                    }
                }

                @include transition();

                &:hover, &.active {
                    background: $basecolor;    

                    .offers {
                        background-color: #FFF;
                        color: $basecolor;
                    }


                }
            }    
        }
    }

    .langmenu, .icons {
        float: right;
    }

    .icons {
        font-size: 0.8rem;
        padding: 0 8px;
    }

    /* .langmenu {                
         ul {
             li {
                 text-transform: lowercase;
             }
         }
     }*/

    &.fixed {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;   

        &.bc_black {
            background-color: rgba($black,0.8);
        }
    }
}

.pretopbar {
    &.fixed {
        margin-bottom: $height_topbar;
    }
}

.topbanner {
    margin: $space_m 0;
}

.subtopbar {
    background-color: $grey2;
    //height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;

    .chboxCenter {
        margin: .6em 02;
        display: flex;
    }
}

h1 {
    color: #000;
    font-weight: $fbold;
    font-size: 2.6rem;
    line-height: 3rem;
}


@media screen and (max-width: 75rem) {    
    /* .pretopbar {
         display: none;
     }*/

    @media (min-width: 64em) {
        .topbar {
            .mainmenu, .langmenu, .icons {
                ul {
                    li {
                        padding: 0 8px;
                        font-size: 0.9rem;
                    }
                }      
            }           
        }     
    }    

    @media (max-width: 64em) {
        .pretopbar {
            padding-top: $height_title-bar;
        }
    }
}

