/* 
    Created on : 20.1.2017, 14:48:15
    Author     : ondra
*/

/*PROJECT BOX*/

.project_box {
    height: 240px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    

    .description {
        position: absolute;
        bottom: 0;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 12px;
        color: #FFF;  
        z-index: 9;

        h4, p {
            margin-bottom: 0;
        }

        h4 {
            font-size: 1rem;
            font-weight: bold;    
        }    
    }

    .gradient {
        width: 100%;
        height: 35%;
        position: absolute;
        bottom: 0;

        @include gradient();
    }

    @include hopacity(0.85);
    @include transition();
}

/*NEWS*/
.homepage {
    .news {
        .new {   
            color: #000;
            height: (250px / 6);     
            padding-bottom: 10px;
            font-weight: $fmedium;    
            margin-right: $padright;
            overflow: hidden;

            .inner {
                background-color: $grey2;
                line-height: ((250px / 6) - 10px);
                padding-left: 15px;
                padding-right: 68px;
                position: relative;
                height: 100%;
                overflow: hidden;
            }

            .discuss {
                float: right;
                padding-right: 15px;
                color: $violet;
                position: absolute;
                right: 0;
                top: 0;

                i {
                    padding-left: 5px;
                }

                &.c0 {
                    /*color: $grey3;*/
                    visibility: hidden;
                }
            }

            @include hopacity();

            &.today {
                .inner {
                    background-color: $white;
                }
            }

            /*  &.pr {
                 .inner {
                     background-color: $grey3;
                 }
             }*/
        } 
    }     
}

.midbanner, .facebook, .bannerr_big, .facebook_plugin {
    //margin-bottom: $marbottom;
    margin-bottom: $marbottom_rbar;
}

#tpl_homepage {
    .midbanner, .project_box {
        margin-bottom: $marbottom;
    }

    .partners {
        // &.fixed {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;
        background: $greylight;
        //  }

        li {
            display: table;
            height: 100%;


            a {
                vertical-align: middle;
                display: table-cell;
            }
            /*img {
                display: table-cell;
            }*/
        }
    }
}

.midbanner {    
    margin-right: $padright;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*PARTNERS*/

.partners {
    h3 {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-top: 13px;
    }    
}

@media screen and (max-width: 64rem) {
    .homepage {
        .news {
            .new {
                margin-right: 0;                
            }
        }
    }
    .midbanner, .load_more {
        margin-right: 0;
    }

    .load_more {
        margin-bottom: 10px;
    }
}
