/* 
    Created on : 20.1.2017, 16:07:18
    Author     : ondra
*/

.facebook_plugin {
    height: 240px;    
}

.bannerr_big, .bannerr_small {
    margin-bottom: $space_m;
}

.submenu {
    $submenu_item_padding: 7px 20px;
    $submenu_item_margin-bottom: 2px;

    margin-bottom: $marbottom_rbar;

    h4 {
        color: #FFF;
        background-color: #000;
        margin-bottom: $submenu_item_margin-bottom;
        padding: $submenu_item_padding;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    h5 {
        color: $basecolor;
        background-color: $grey2;
        margin-bottom: $submenu_item_margin-bottom;
        padding: $submenu_item_padding;
        font-size: 1rem;
        line-height: 1.8rem;

        &:hover, &:active, &:focus, &.active {
            background-color: #000; 
            color: #FFF; 
        }
    }

    ul {
        margin: 0;
        list-style: none;

        li {
            margin-bottom: $submenu_item_margin-bottom; 
            padding: $submenu_item_padding;

            &:hover, &:active, &:focus, &.active {
                background-color: #000;

                a {
                    color: #FFF;   
                }                
            }

            a {
                color: $basecolor;
            }
        }
    }

    .items li {
        background-color: #FFF;
    }

    .other li, li.section {
        background-color: $grey2;
    }
}

.sidebar {
    h5 {
        color: $black;
        font-size: 14px;
        text-transform: uppercase;
    }
}
