/* 
    Created on : 20.1.2017, 14:44:59
    Author     : ondra
*/

.mainslider {
    height: auto;
    margin-top:0;   
    background-color: initial;
    margin-bottom: $space_s;
    position: relative;
    padding: 0;
    z-index: 1;

    .carousel {
        position: relative;
        margin: 0;
        padding: 0;
        //height: 200px;
        z-index: 1;
        margin-right: $space_l_wtht_gutter;
        overflow: hidden;
    }

    .slide {        

        position: absolute;
        height: inherit;
        width: 100%;
        color: #fff;
        //font-size: 48px;
        //text-align: center;
        //padding-top: 50px;

        &.active {
            position: relative;
        }


        .caption {
            position: absolute;
            top: 0;
            color: #FFF;
            max-width: $caption_width;
            padding: $slider_padding 0 $slider_padding $slider_padding;
            height: 100%; 
            z-index: 9;

            .category {              
                @include border-title(.94rem);
            }

            h2 {
                margin-top: 20px;
                font-size: 1.7rem;
                text-transform: uppercase;
                font-weight: 900;
                line-height: 2rem;
                color: #FFF;
                margin-bottom: 0.8rem;
            }

            .introtext {
                line-height: 1.3rem;
                //font-weight: $fmedium;
            }

            /*.author {
                padding-bottom: 3px;
                border-bottom: 2px solid $violet;                   
            }*/

            .learnmore {
                margin-top: 15px;
                text-transform: uppercase;
                background: $violet;
                float: left;
                clear: both;
                padding: 2px 9px;
                color: #FFF;
                font-size: 0.9rem;
            }

            .bottom {
                position: absolute;
                bottom: 30px;

                p {
                    margin-bottom: 0;
                }
            }
        }   

        .orbit-image {
            //max-height: 500px;
        }

        .gradient {
            width: 45%;
            height: 100%;
            position: absolute;
            top: 0;

            @include gradient(90deg, rgba(0,0,0,0.7), rgba(0,0,0,0.4));               
        }

        &.light {
            .gradient {
                @include gradient(90deg, rgba(0,0,0,0.85), rgba(0,0,0,0.55));   
            }
        }
    }

    .carousel-tab {
        /*  position: relative;
          z-index: 10;
          list-style-type: none;
          bottom: 30px;
          left: 49%;
          transform: translate(-50%);
          width: 130px;
          text-align: center;*/

        position: absolute;
        bottom: 0;
        right: 0;
        margin-top: 0;
        margin-right: calc(#{$space_l_wtht_gutter} + #{$slider_padding});
        margin-bottom: $slider_padding;
        max-width: 100%-$caption_width;
        z-index: 9;

        li {
            /*  width: 20px;
              height: 20px;
              border-radius: 100%;
              background: #fff;
              float: left;
              margin-right: 10px;
              cursor: pointer;*/

            border-radius: 0;
            font-size: 1rem;
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 5px;
            opacity: 0.6;
            margin-bottom: 0;
            background-color: $black;
            cursor: pointer;
            color: #fff;
            display: inline-block;
            text-align: center;

            &.active, &:hover {
                background-color: #000;
                opacity: 1;
            }
        }
    }
    /*
        .control {
            position: absolute;
            top: 0;
            margin: 0;
            width: 8%;
            height: 200px;
            cursor: pointer;
            font-size: 0px;
            opacity: 0.6;
            color: #fff;
            text-decoration: none;
            z-index: 10;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
    
            img {
                height: 50px;
                display: block;
            }
    
            &.control_prev {
                left: 0;
            }
    
            &.control_next {
                right: 0;
            }
        }*/

    /*.orbit-bullets {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-top: 0;
        margin-right: calc(#{$space_l_wtht_gutter} + #{$slider_padding});
        margin-bottom: $slider_padding;
        max-width: 100%-$caption_width;

        button {
            border-radius: 0;
            font-size: 1rem;
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 5px;
            opacity: 0.6;
            margin-bottom: 0;
            background-color: $black;
            cursor: pointer;


            span {
                color: #fff;
            }    
        }

        button.is-active, button:hover {
            background-color: #000;
            opacity: 1;
        }
    }*/

    /*.orbit-container {
        //margin-right: $marright;
        margin-right: $space_l_wtht_gutter;
    }*/

    @include floatfix;
}

@media screen and (max-width: 72rem) {
    .mainslider {
        .slide {
            .caption {
                max-width: 50%;
            }
        }
    }
}

@media screen and (max-width: 64rem) {
    .mainslider {
        .slide {
            .caption {
                padding: $slider_padding;
                max-width: 100%;

                h2 {
                    font-size: 1.5rem;
                    line-height: 1.9rem;
                }
            }
        }

        .carousel {
            margin-right: 0;
        }

        .carousel-tab {
            //margin-right: 1.2rem;
            margin-right: $slider_padding;
        }
    }
}

