/* 
    Created on : 25.1.2017, 16:58:45
    Author     : ondra
*/

/*SOCIAL*/



.social {
    height: 120px; 

    .footer & {
        height: inherit;
    }

    ul {
        margin: 0;
        list-style: none;
        //a {
        li {
            display: inline-block;
            float: right;
            background-color: $grey3_5;
            width: $lsquare;            
            height: $lsquare;
            margin-left: 1px;
            text-align: center;

            @include transition;

            &:hover, &:active, &:focus {
                background-color: $basecolor;

                @include transition;
            }


            i {
                line-height: $lsquare;
                color: white;
                font-size: 1.6rem;
            }
            //}
        }
    }
}