/* 
    Created on : 20.1.2017, 14:35:23
    Author     : ondra
*/

//layout

$tot_gutter: 0.714rem;
$gutter: calc(#{$tot_gutter} / 2);
$gutter_neg: calc((-1) * #{$gutter});
$padright: 40px; /*space between body and rightbar*/
$marbottom: 10px;
$marbottom_rbar: 35px;
$marright: $padright; // space between body and rightbar


$space_s: $tot_gutter;
$space_m: 20px;
$space_l: calc(#{40px} + #{$tot_gutter}) / 2;
$space_l_wtht_gutter: calc(#{$space_l} - #{$tot_gutter});


//header

$height_topbar: 70px;
$height_title-bar: 50px;

//forms
$select_height: 2.4375rem;
$filters_form_pad: 30px;
$chb_size: 1.2em;
$chb_outline: 1px;

//social 
$lsquare: 50px; //social icno - size

//lightbox
$lightbox_padding: 100px;
$lightbox_description_width: 400px;
$photobox_description_padding: 25px;

// slider
$slider_padding: 30px;
$caption_width: 40%;

//calendar
$mtitle_lheight: 2.8rem;
$arr_margin: 20px;
$arr_height: 20px;

//topbanner 
$topbanner_margin: 20px;

//other
$comment_height: 40px;
$type_events_section: 22px;
$lm_height: 30px;
