/* 
    Created on : 20.1.2017, 14:24:22
    Author     : ondra
*/
/*DECLARATIONS*/
/* 
    Created on : 20.1.2017, 14:35:44
    Author     : ondra
*/
/* 
    Created on : 27.3.2017, 12:18:53
    Author     : ondra
*/
/* 
    Created on : 20.1.2017, 14:35:23
    Author     : ondra
*/
/*space between body and rightbar*/
/* 
    Created on : 20.1.2017, 14:32:37
    Author     : ondra
*/
@import url(foundation/foundation.css);
@import url(bxslider/jquery.bxslider.css);
@import "http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css";
*, html, p, h1, h2, h3, h4, h5, h6, button, input, optgroup, select, textarea {
  font-family: "effra",sans-serif; }

/* 
    Created on : 20.1.2017, 14:34:48
    Author     : ondra
*/
/* 
    Created on : 27.1.2017, 9:14:01
    Author     : ondra
*/
h2 {
  font-size: 1.4rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 1.6rem;
  margin-top: 1.1rem; }

a {
  color: #0279ce; }
  a:hover, a:active, a:focus {
    color: #0279ce; }

.align-right {
  text-align: right; }

.bold {
  font-weight: 600; }

.padding20 {
  padding: 20px; }

.padright, .r_padding {
  padding-right: 40px; }

.column-block .project_box {
  margin-bottom: 0; }

hr {
  margin-left: 0.357rem;
  margin-right: 0.357rem; }

.w100 {
  width: 100%; }

.r_margin {
  margin-right: 40px; }

.white {
  color: #FFF; }
  .white a {
    color: #FFF; }

.grey {
  color: #b9b9b9; }

.bc_black {
  background-color: #000; }

.valign_bottom {
  position: absolute;
  left: 0.357rem;
  right: 0.357rem;
  bottom: 0; }

.h100 {
  height: 100%; }

.z9 {
  z-index: 9; }

.flex-gallery .thumbs {
  padding-left: calc(0.357rem - 7px);
  padding-right: calc(0.357rem - 7px); }

.posrel {
  position: relative; }

.pretopbar {
  background-color: #6e6e6e; }

/*LOAD MORE*/
.load_more, .add_event {
  background-color: #0279ce;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  margin-bottom: 35px; }
  .load_more:hover, .load_more:active, .load_more:focus, .add_event:hover, .add_event:active, .add_event:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }

.load_more {
  margin-right: 0.893rem;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  font-size: 0.9rem; }

.fix_top_height {
  height: 50px;
  margin-bottom: 25px; }
  .fix_top_height.social {
    height: 50px; }

.column-block .project_box {
  margin-bottom: 0; }

.violet, .blue {
  color: #0279ce; }

.seo-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.printonly {
  display: none !important; }

/*PROJECT BOX*/
.project_box {
  height: 240px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition-timing-function: "easeOutExpo";
  -webkit-transition-timing-function: "easeOutExpo";
  -moz-transition-timing-function: "easeOutExpo";
  transition-timing-function: "easeOutExpo";
  -o-transition-property: "all";
  -webkit-transition-property: "all";
  -moz-transition-property: "all";
  transition-property: "all";
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .project_box .description {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #FFF;
    z-index: 9; }
    .project_box .description h3, .project_box .description p {
      margin-bottom: 0; }
    .project_box .description h3 {
      font-size: 1rem;
      font-weight: bold; }
  .project_box .gradient {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) 50%, rgba(255, 255, 255, 0));
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) 50%, rgba(255, 255, 255, 0));
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) 50%, rgba(255, 255, 255, 0));
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) 50%, rgba(255, 255, 255, 0));
    /* Standard syntax; must be last */ }
  .project_box:hover, .project_box:active, .project_box:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }

.fixed_sidebar_container {
  position: relative; }
  .fixed_sidebar_container .fixed-width-right {
    width: 19.464rem;
    padding-left: 0.357rem;
    padding-right: 0.357rem;
    margin: auto; }

.basket {
  display: none; }
  .basket.contain_products {
    display: block; }

.bgw {
  background-color: #FFF; }

@media (min-width: 64em) {
  .fixed_sidebar_container {
    position: relative; }
    .fixed_sidebar_container .fixed-width-right {
      position: absolute;
      right: 0; }
    .fixed_sidebar_container .fixed_sidebar {
      padding-right: 19.821rem; } }
@media (max-width: 72em) {
  .fix_top_height {
    height: auto; } }
@media (max-width: 72em) and (max-width: 64em) {
  .padright, .r_padding {
    padding-right: 0; }

  .bannerr_small, .bannerr_big {
    text-align: center; }

  .fixed_sidebar_container .fixed-width-right.basket {
    clear: both;
    margin-bottom: 20px;
    margin-left: 0; } }
@media print {
  .noprint {
    display: none !important; }

  .printonly {
    display: block !important; }

  a[href]:after {
    content: none; }

  .topbar {
    position: relative; }
    .topbar .mainlogo {
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important; }
    .topbar.fixed {
      position: relative !important; }

  #tpl_homepage .midbanner {
    display: none; }

  .project_box {
    -webkit-print-color-adjust: exact;
    background: initial !important;
    height: 70px !important; }
    .project_box .description h3 {
      line-height: 1rem; }
    .project_box .description p {
      line-height: 1rem; }

  .h100 {
    height: initial; }

  .topbar .mainmenu ul {
    list-style: initial !important; }
    .topbar .mainmenu ul li {
      display: block !important;
      float: initial !important; }

  .quant:before {
    content: '('; }
  .quant:after {
    content: ')'; }

  .mproduct {
    height: initial !important; }
    .mproduct .title span {
      padding: 4px 5px 4px 0; }
    .mproduct .description {
      position: relative !important; }

  .related .new {
    height: initial !important; }

  .big_header {
    height: 100px !important; }
    .big_header .social.show-for-small-only {
      display: none; }

  .js_menu .item {
    line-height: inherit !important; } }
/*LIBRARIES*/
/* 
    Created on : 2.2.2017, 12:54:46
    Author     : ondra
*/
.flex-gallery {
  overflow: hidden; }
  .flex-gallery .item {
    float: left;
    margin: 4px;
    border: 1px solid #f5f5f7;
    box-sizing: content-box;
    overflow: hidden;
    position: relative; }
    .flex-gallery .item img {
      display: block;
      width: auto;
      height: 100%; }

/*PARTIALS*/
/* 
    Created on : 20.1.2017, 14:41:12
    Author     : ondra
*/
.topbar {
  height: 70px; }
  .topbar > .row .topbarleft {
    display: table;
    height: 100%; }
  .topbar, .topbar a, .topbar a:hover, .topbar a:active, .topbar a:focus {
    color: #FFF; }
  .topbar .mainlogo, .topbar .mainmenu {
    display: table-cell;
    vertical-align: middle;
    height: 100%; }
  .topbar .mainlogo {
    padding-right: 20px;
    padding-bottom: 3px; }
  .topbar .mainmenu ul {
    font-size: 1.1rem; }
  .topbar .mainmenu ul, .topbar .langmenu ul, .topbar .icons ul {
    margin: 0;
    list-style: none;
    display: table;
    height: 100%;
    position: relative; }
    .topbar .mainmenu ul li, .topbar .langmenu ul li, .topbar .icons ul li {
      height: 100%;
      display: inline-block;
      text-transform: uppercase;
      float: left;
      -o-transition-timing-function: "easeOutExpo";
      -webkit-transition-timing-function: "easeOutExpo";
      -moz-transition-timing-function: "easeOutExpo";
      transition-timing-function: "easeOutExpo";
      -o-transition-property: "all";
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      transition-property: "all";
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      .topbar .mainmenu ul li a, .topbar .mainmenu ul li div, .topbar .langmenu ul li a, .topbar .langmenu ul li div, .topbar .icons ul li a, .topbar .icons ul li div {
        height: 100%;
        display: table;
        cursor: pointer; }
        .topbar .mainmenu ul li a div, .topbar .mainmenu ul li div div, .topbar .langmenu ul li a div, .topbar .langmenu ul li div div, .topbar .icons ul li a div, .topbar .icons ul li div div {
          height: 100%;
          display: table-cell;
          vertical-align: middle;
          padding: 0 10px;
          line-height: 34px; }
          .topbar .mainmenu ul li a div .quant, .topbar .mainmenu ul li div div .quant, .topbar .langmenu ul li a div .quant, .topbar .langmenu ul li div div .quant, .topbar .icons ul li a div .quant, .topbar .icons ul li div div .quant {
            background-color: #0279ce; }
        .topbar .mainmenu ul li a:hover, .topbar .mainmenu ul li a:active, .topbar .mainmenu ul li a:focus, .topbar .mainmenu ul li div:hover, .topbar .mainmenu ul li div:active, .topbar .mainmenu ul li div:focus, .topbar .langmenu ul li a:hover, .topbar .langmenu ul li a:active, .topbar .langmenu ul li a:focus, .topbar .langmenu ul li div:hover, .topbar .langmenu ul li div:active, .topbar .langmenu ul li div:focus, .topbar .icons ul li a:hover, .topbar .icons ul li a:active, .topbar .icons ul li a:focus, .topbar .icons ul li div:hover, .topbar .icons ul li div:active, .topbar .icons ul li div:focus {
          opacity: 1; }
      .topbar .mainmenu ul li:hover, .topbar .langmenu ul li:hover, .topbar .icons ul li:hover {
        background: #4b4b4b; }
        .topbar .mainmenu ul li:hover .quant, .topbar .langmenu ul li:hover .quant, .topbar .icons ul li:hover .quant {
          background-color: #FFF;
          color: #828282; }
      .topbar .mainmenu ul li:active, .topbar .mainmenu ul li:focus, .topbar .mainmenu ul li.active, .topbar .langmenu ul li:active, .topbar .langmenu ul li:focus, .topbar .langmenu ul li.active, .topbar .icons ul li:active, .topbar .icons ul li:focus, .topbar .icons ul li.active {
        background: #0279ce; }
        .topbar .mainmenu ul li:active .quant, .topbar .mainmenu ul li:focus .quant, .topbar .mainmenu ul li.active .quant, .topbar .langmenu ul li:active .quant, .topbar .langmenu ul li:focus .quant, .topbar .langmenu ul li.active .quant, .topbar .icons ul li:active .quant, .topbar .icons ul li:focus .quant, .topbar .icons ul li.active .quant {
          background-color: #FFF;
          color: #0279ce; }
  .topbar .langmenu, .topbar .icons {
    float: right; }
  .topbar .icons {
    font-size: 0.8rem;
    padding: 0 0 0 8px; }
  .topbar.fixed {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%; }
    .topbar.fixed.bc_black {
      background-color: rgba(0, 0, 0, 0.8); }

.quant {
  padding: 10px 7px;
  margin-left: 7px;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: bold;
  height: 34px;
  width: 34px;
  display: inline-block;
  text-align: center;
  line-height: 14px; }

.pretopbar.fixed {
  margin-bottom: 70px; }
  .pretopbar.fixed.subtopbaropen {
    margin-bottom: 140px; }

.topbanner {
  margin: 20px 0; }

.basket {
  margin: 20px 0;
  height: 90px; }
  .basket .inner {
    background-color: #000;
    height: 100%;
    width: 100%;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    margin: 20px 0; }
    .basket .inner .info {
      float: left; }
      .basket .inner .info .title {
        font-weight: 500; }
      .basket .inner .info .items {
        font-size: .8rem; }
      .basket .inner .info:hover, .basket .inner .info:active, .basket .inner .info:focus {
        opacity: 0.85;
        filter: alpha(opacity=85);
        -moz-opacity: 0.85;
        -khtml-opacity: 0.85; }
    .basket .inner .button {
      float: right;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 500;
      padding: 5px; }
      .basket .inner .button:hover, .basket .inner .button:active, .basket .inner .button:focus {
        opacity: 0.85;
        filter: alpha(opacity=85);
        -moz-opacity: 0.85;
        -khtml-opacity: 0.85; }
    .basket .inner a {
      color: #FFF; }

.loginbar .offline {
  display: block; }
.loginbar .online {
  display: none; }
.loginbar.logged .offline {
  display: none; }
.loginbar.logged .online {
  display: block; }
.loginbar .profile, .loginbar .mysites {
  display: flex;
  align-items: center;
  height: 100%; }
.loginbar .profile {
  float: left; }
  .loginbar .profile .avatar {
    margin-right: 0.714rem; }
  .loginbar .profile .text {
    color: #000; }
    .loginbar .profile .text .name {
      font-weight: 500;
      text-transform: uppercase; }
    .loginbar .profile .text .editprofile {
      color: #000; }
.loginbar .mysites {
  float: right; }
  .loginbar .mysites .quant {
    background-color: #0279ce;
    color: #FFF; }
  .loginbar .mysites ul {
    list-style: none;
    margin: 0; }
    .loginbar .mysites ul li {
      display: inline-block;
      margin-left: 20px; }
      .loginbar .mysites ul li div {
        font-weight: 500;
        text-transform: uppercase;
        color: #000; }
      .loginbar .mysites ul li:hover, .loginbar .mysites ul li:active, .loginbar .mysites ul li:focus {
        opacity: 0.85;
        filter: alpha(opacity=85);
        -moz-opacity: 0.85;
        -khtml-opacity: 0.85; }

.subtopbar {
  background-color: #e6e6e6;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  height: 0;
  -o-transition-timing-function: "easeOutExpo";
  -webkit-transition-timing-function: "easeOutExpo";
  -moz-transition-timing-function: "easeOutExpo";
  transition-timing-function: "easeOutExpo";
  -o-transition-property: "all";
  -webkit-transition-property: "all";
  -moz-transition-property: "all";
  transition-property: "all";
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .subtopbar .chboxCenter {
    margin: .6em 2px;
    display: flex; }
  .subtopbar.open {
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: visible; }
  .subtopbar.fixed {
    position: fixed;
    top: 70px;
    z-index: 10;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.8); }

h1 {
  color: #000;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3rem; }

@media screen and (max-width: 75rem) and (min-width: 64em) {
  .topbar .mainmenu ul li, .topbar .langmenu ul li, .topbar .icons ul li {
    font-size: 0.9rem; }
    .topbar .mainmenu ul li a div, .topbar .mainmenu ul li div div, .topbar .langmenu ul li a div, .topbar .langmenu ul li div div, .topbar .icons ul li a div, .topbar .icons ul li div div {
      padding: 0 8px; } }
@media screen and (max-width: 75rem) and (max-width: 64em) {
  .pretopbar {
    padding-top: 50px; }
    .pretopbar.fixed {
      margin-bottom: 0; } }
/* 
    Created on : 20.1.2017, 14:42:38
    Author     : ondra
*/
.body {
  background: #f5f5f7; }
  .body .subheader {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 20px; }

.title-bar {
  padding: 0 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 11;
  height: 50px;
  line-height: 50px;
  top: 0; }

/* 
    Created on : 20.1.2017, 14:44:59
    Author     : ondra
*/
.mainslider {
  height: auto;
  margin-top: 0;
  background-color: initial;
  margin-bottom: 20px;
  position: relative;
  padding: 0;
  z-index: 1; }
  .mainslider .carousel {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 1;
    margin-right: 0.893rem;
    overflow: hidden; }
    .mainslider .carousel.moving .slide.active {
      z-index: 9; }
  .mainslider .slide {
    position: absolute;
    height: inherit;
    width: 100%;
    color: #fff; }
    .mainslider .slide.active {
      position: relative; }
    .mainslider .slide .caption {
      position: absolute;
      top: 0;
      color: #FFF;
      max-width: 40%;
      padding: 30px 0 30px 30px;
      height: 100%;
      z-index: 9; }
      .mainslider .slide .caption .category {
        text-transform: uppercase; }
        .mainslider .slide .caption .category span {
          padding: 4px 5px;
          border: 1px solid #FFF;
          color: #FFF;
          font-size: 0.94rem; }
      .mainslider .slide .caption h3 {
        margin-top: 20px;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 2rem;
        color: #FFF;
        margin-bottom: 0.8rem; }
      .mainslider .slide .caption .introtext {
        line-height: 1.3rem; }
      .mainslider .slide .caption .learnmore {
        margin-top: 15px;
        text-transform: uppercase;
        background: #0279ce;
        float: left;
        clear: both;
        padding: 2px 9px;
        color: #FFF;
        font-size: 0.9rem; }
      .mainslider .slide .caption .bottom {
        position: absolute;
        bottom: 30px; }
        .mainslider .slide .caption .bottom p {
          margin-bottom: 0; }
    .mainslider .slide .gradient {
      width: 45%;
      height: 100%;
      position: absolute;
      top: 0;
      background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
      /* For Firefox (3.6 to 15) */
      background-image: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
      /* Standard syntax; must be last */ }
    .mainslider .slide.light .gradient {
      background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.55) 50%, rgba(255, 255, 255, 0));
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.55) 50%, rgba(255, 255, 255, 0));
      /* For Firefox (3.6 to 15) */
      background-image: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.55) 50%, rgba(255, 255, 255, 0));
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.55) 50%, rgba(255, 255, 255, 0));
      /* Standard syntax; must be last */ }
  .mainslider .carousel-tab {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 0;
    margin-right: calc(0.893rem + 30px);
    margin-bottom: 30px;
    max-width: 60%;
    z-index: 9;
    cursor: pointer; }
    .mainslider .carousel-tab li {
      border-radius: 0;
      font-size: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 5px;
      opacity: 0.6;
      margin-bottom: 0;
      background-color: #000;
      cursor: pointer;
      color: #fff;
      display: inline-block;
      text-align: center;
      line-height: 1.5rem; }
      .mainslider .carousel-tab li.active {
        background-color: #000;
        opacity: 1; }
  .mainslider:after {
    content: '';
    display: block;
    clear: both; }

@media screen and (max-width: 72rem) {
  .mainslider .slide .caption {
    max-width: 50%; } }
@media screen and (max-width: 64rem) {
  .mainslider .slide .caption {
    padding: 30px;
    max-width: 100%; }
    .mainslider .slide .caption h2 {
      font-size: 1.5rem;
      line-height: 1.9rem; }
  .mainslider .carousel {
    margin-right: 0; }
  .mainslider .carousel-tab {
    margin-right: 30px; } }
/* 
    Created on : 20.1.2017, 14:45:52
    Author     : ondra
*/
.mproduct {
  height: 250px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 15px;
  position: relative;
  -o-transition-timing-function: "easeOutExpo";
  -webkit-transition-timing-function: "easeOutExpo";
  -moz-transition-timing-function: "easeOutExpo";
  transition-timing-function: "easeOutExpo";
  -o-transition-property: "all";
  -webkit-transition-property: "all";
  -moz-transition-property: "all";
  transition-property: "all";
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .mproduct .title {
    z-index: 9;
    position: relative;
    text-transform: uppercase; }
    .mproduct .title span {
      padding: 4px 5px;
      border: 1px solid #FFF;
      color: #FFF;
      font-size: 0.88rem; }
  .mproduct .description {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    color: #FFF;
    font-weight: bold;
    padding-bottom: 15px;
    z-index: 9; }
  .mproduct .gradient {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
    /* Standard syntax; must be last */ }
    .mproduct .gradient.top {
      top: 0;
      background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
      /* For Firefox (3.6 to 15) */
      background-image: -o-linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0));
      /* Standard syntax; must be last */ }
  .mproduct:hover, .mproduct:active, .mproduct:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }

/* 
    Created on : 20.1.2017, 14:47:05
    Author     : ondra
*/
.caltitle {
  margin-bottom: 0;
  color: #FFF;
  padding: 10px 5px;
  background-color: #000;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.8;
  text-transform: uppercase; }

.calendar {
  margin-bottom: 0; }
  .calendar .monthtitle {
    background-color: #FFF;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
    line-height: 2.8rem;
    margin-bottom: 0;
    position: relative; }
    .calendar .monthtitle img {
      position: absolute;
      top: calc((2.8rem - 20px) / 2);
      height: 20px; }
      .calendar .monthtitle img.l {
        left: 20px; }
      .calendar .monthtitle img.r {
        right: 20px; }
  .calendar .calbody {
    padding: 0 20px 10px;
    background-color: #FFF; }
    .calendar .calbody:after {
      content: '';
      display: block;
      clear: both; }
    .calendar .calbody .day {
      width: calc((100% / 7) - 0.01px);
      /*IE hack*/
      height: 31px;
      float: left;
      color: #e6e6e6;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: #e6e6e6;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #e6e6e6;
      cursor: pointer;
      padding: 4px 0; }
      .calendar .calbody .day:hover, .calendar .calbody .day:active, .calendar .calbody .day:focus {
        background-color: #e6e6e6;
        color: #FFF; }
      .calendar .calbody .day:nth-child(7n+0) {
        border-right: none; }
      .calendar .calbody .day:nth-child(29) {
        border-bottom: none; }
      .calendar .calbody .day:nth-child(30) {
        border-bottom: none; }
      .calendar .calbody .day:nth-child(31) {
        border-bottom: none; }
      .calendar .calbody .day:nth-child(32) {
        border-bottom: none; }
      .calendar .calbody .day:nth-child(33) {
        border-bottom: none; }
      .calendar .calbody .day:nth-child(34) {
        border-bottom: none; }
      .calendar .calbody .day:nth-child(35) {
        border-bottom: none; }
      .calendar .calbody .day.thismonth {
        color: #000; }
      .calendar .calbody .day.event {
        color: #FFF;
        background-color: #6e6e6e; }
      .calendar .calbody .day.today {
        background-color: #0279ce;
        color: #FFF; }

/*CALENDAR SITE*/
.cal_day_header {
  color: white;
  background-color: black;
  padding: 11px;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.714rem; }
  .cal_day_header a:hover i, .cal_day_header a:active i, .cal_day_header a:focus i {
    color: #FFF; }
  .cal_day_header .lday, .cal_day_header .rday {
    padding-top: 5px; }
  .cal_day_header .lday {
    float: left; }
  .cal_day_header .rday {
    float: right; }

.type_events_section {
  background-color: #FFF;
  padding: 22px;
  position: relative;
  margin-bottom: 0.714rem; }
  .type_events_section .showall {
    position: absolute;
    top: 22px;
    right: 22px; }
  .type_events_section .item {
    margin-bottom: 15px; }
    .type_events_section .item .title {
      color: #0279ce;
      font-size: 1.2rem;
      font-weight: 600; }
    .type_events_section .item .subtitle {
      color: #000; }

.add_event {
  padding: 11px;
  font-size: 0.9rem;
  margin-bottom: 20px;
  text-transform: uppercase; }

/* 
    Created on : 20.1.2017, 14:47:45
    Author     : ondra
*/
.bx-wrapper {
  margin-bottom: 30px; }
  .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: 0; }
  .bx-wrapper .bx-pager {
    display: none; }
  .bx-wrapper .bx-controls-direction {
    display: none; }

.companies .inline-list {
  margin-left: 0;
  margin-bottom: 0; }

/* 
    Created on : 20.1.2017, 14:48:15
    Author     : ondra
*/
/*NEWS*/
.homepage .news .new {
  color: #000;
  height: calc((240px + 0.714rem) / 6);
  padding-bottom: 0.714rem;
  font-weight: 500;
  margin-right: 0.893rem;
  overflow: hidden; }
  .homepage .news .new .inner {
    background-color: #FFF;
    line-height: calc(((240px + 0.714rem) / 6) - 0.714rem);
    padding-left: 15px;
    padding-right: 68px;
    position: relative;
    height: 100%;
    overflow: hidden; }
  .homepage .news .new .discuss {
    float: right;
    padding-right: 15px;
    color: #0279ce;
    position: absolute;
    right: 0;
    top: 0; }
    .homepage .news .new .discuss i {
      padding-left: 5px; }
    .homepage .news .new .discuss.c0 {
      visibility: hidden; }
  .homepage .news .new:hover, .homepage .news .new:active, .homepage .news .new:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }
  .homepage .news .new.pr {
    color: #FFF; }
    .homepage .news .new.pr .inner {
      background-color: #FFF;
      color: #0279ce;
      font-weight: 900; }
    .homepage .news .new.pr .discuss {
      color: #FFF; }

.midbanner, .facebook, .bannerr_big, .facebook_plugin {
  margin-bottom: 20px; }

#tpl_homepage .midbanner, #tpl_homepage .project_box {
  margin-bottom: 0.714rem; }
#tpl_homepage .partners {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; }

.midbanner {
  margin-right: 0.893rem;
  height: 240px;
  /* background-repeat: no-repeat;
   background-size: contain;
   background-position: left top;*/
  /*img {
      visibility: hidden;
  }*/ }

/*PARTNERS*/
.partners {
  position: relative;
  background: #FFF; }
  .partners h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 13px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-transform: uppercase; }
    .partners h2 span {
      border: none !important; }
    .partners h2 span {
      padding: 4px 5px;
      border: 1px solid #000;
      color: #000;
      font-size: 0.9rem; }
  .partners .title {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center; }
  .partners .become {
    font-size: .9rem;
    text-align: right; }
    .partners .become a {
      color: #000; }
  .partners .bx-wrapper {
    margin-top: 15px;
    margin-bottom: 15px; }
    .partners .bx-wrapper .bx-viewport {
      max-height: 107px; }
      .partners .bx-wrapper .bx-viewport .bxslider {
        position: relative;
        min-height: 100%;
        height: 100%; }
        .partners .bx-wrapper .bx-viewport .bxslider li {
          display: table;
          height: 100%; }
          .partners .bx-wrapper .bx-viewport .bxslider li a {
            vertical-align: middle;
            display: table-cell; }

@media screen and (max-width: 64rem) {
  .homepage .news .new {
    margin-right: 0; }

  .midbanner, .load_more {
    margin-right: 0; }

  .load_more {
    margin-bottom: 10px; }

  .partners .title {
    position: relative; } }
@media screen and (max-width: 64rem) and (max-width: 40em) {
  .midbanner {
    height: inherit; }
    .midbanner img {
      visibility: visible; } }
/* 
    Created on : 20.1.2017, 16:07:18
    Author     : ondra
*/
.facebook_plugin {
  height: 240px; }

.bannerr_big, .bannerr_small {
  margin-bottom: 20px; }

.submenu {
  margin-bottom: 35px; }
  .submenu h4 {
    color: #FFF;
    background-color: #000;
    margin-bottom: 2px;
    padding: 7px 20px;
    font-size: 1rem;
    line-height: 1.8rem; }
  .submenu h5 {
    color: #0279ce;
    background-color: #e6e6e6;
    margin-bottom: 2px;
    padding: 7px 20px;
    font-size: 1rem;
    line-height: 1.8rem; }
    .submenu h5:hover, .submenu h5:active, .submenu h5:focus, .submenu h5.active {
      background-color: #000;
      color: #FFF; }
  .submenu ul {
    margin: 0;
    list-style: none; }
    .submenu ul li {
      margin-bottom: 2px;
      padding: 7px 20px; }
      .submenu ul li:hover, .submenu ul li:active, .submenu ul li:focus, .submenu ul li.active {
        background-color: #000; }
        .submenu ul li:hover a, .submenu ul li:active a, .submenu ul li:focus a, .submenu ul li.active a {
          color: #FFF; }
      .submenu ul li a {
        color: #0279ce; }
  .submenu .items li {
    background-color: #FFF; }
  .submenu .other li, .submenu li.section {
    background-color: #e6e6e6; }

.sidebar h5 {
  color: #000;
  font-size: 14px;
  text-transform: uppercase; }

/* 
    Created on : 20.1.2017, 14:49:44
    Author     : ondra
*/
.footer {
  background-color: #000;
  padding-top: 35px;
  font-size: .9rem; }
  .footer .logo {
    max-width: 120px;
    margin-bottom: 5px; }
  .footer h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold; }
  .footer ul {
    margin: 0;
    list-style: none; }
  .footer .copyright {
    margin-top: 20px;
    margin-bottom: 40px; }
  .footer, .footer a {
    color: #FFF; }
  .footer a:hover, .footer:active, .footer:focus {
    text-decoration: underline; }
  .footer .newsletter_form .email {
    max-width: 70%;
    float: left;
    box-shadow: none; }
  .footer .newsletter_form .submit {
    max-width: 30%;
    width: 150px;
    background-color: #0279ce; }
  .footer .newsletter_form .email, .footer .newsletter_form .submit {
    border-radius: 0;
    border: none;
    height: 40px; }
  .footer .social ul li {
    float: left; }

@media screen and (max-width: 64rem) {
  .footer {
    padding-left: 20px;
    padding-right: 20px; }
    .footer .copyright {
      margin-top: 40px; }
    .footer .fmenu {
      margin-bottom: 25px; } }
@media screen and (min-width: 40rem) and (max-width: 64rem) {
  .footer .newsletter_form .email {
    margin-bottom: 0; }
  .footer .newsletter_form .email, .footer .newsletter_form .submit {
    width: 100%;
    max-width: 100%; } }
/* 
    Created on : 25.1.2017, 16:57:03
    Author     : ondra
*/
.comments {
  overflow: hidden; }
  .comments .chead, .comments .cbody, .comments .call {
    margin-right: 40px; }
  .comments .chead .num {
    background-color: #000;
    font-weight: 900;
    font-size: 1.1rem;
    padding-left: 30px; }
  .comments .chead .add {
    background-color: #0279ce;
    text-align: center; }
    .comments .chead .add:hover, .comments .chead .add:active, .comments .chead .add:focus {
      opacity: 0.85;
      filter: alpha(opacity=85);
      -moz-opacity: 0.85;
      -khtml-opacity: 0.85; }
  .comments .chead .num, .comments .chead .add {
    height: 40px;
    line-height: 40px;
    color: #FFF; }
  .comments .cbody {
    padding: 20px;
    background-color: #FFF;
    color: #000; }
    .comments .cbody .cheader {
      font-weight: bold; }
    .comments .cbody .ccomment {
      border-top: 1px solid #e6e6e6; }
      .comments .cbody .ccomment .subj {
        color: #0279ce; }
      .comments .cbody .ccomment.re .subj {
        padding-left: 1rem; }
    .comments .cbody .cheader, .comments .cbody .ccomment {
      height: 40px;
      line-height: 40px;
      padding-left: 20px; }
  .comments .call {
    background-color: #0279ce;
    color: #FFF;
    height: 40px;
    line-height: 40px;
    text-align: center; }
    .comments .call:hover, .comments .call:active, .comments .call:focus {
      opacity: 0.85;
      filter: alpha(opacity=85);
      -moz-opacity: 0.85;
      -khtml-opacity: 0.85; }

@media screen and (max-width: 64rem) {
  .comments .chead, .comments .cbody, .comments .call {
    margin-right: -0.357rem; } }
/* 
    Created on : 25.1.2017, 16:58:45
    Author     : ondra
*/
/*SOCIAL*/
.social {
  height: 120px; }
  .footer .social {
    height: inherit; }
  .social ul {
    margin: 0;
    list-style: none; }
    .social ul li {
      display: inline-block;
      float: right;
      background-color: #828282;
      width: 50px;
      height: 50px;
      margin-left: 1px;
      text-align: center;
      -o-transition-timing-function: "easeOutExpo";
      -webkit-transition-timing-function: "easeOutExpo";
      -moz-transition-timing-function: "easeOutExpo";
      transition-timing-function: "easeOutExpo";
      -o-transition-property: "all";
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      transition-property: "all";
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      .social ul li:hover, .social ul li:active, .social ul li:focus {
        background-color: #0279ce;
        -o-transition-timing-function: "easeOutExpo";
        -webkit-transition-timing-function: "easeOutExpo";
        -moz-transition-timing-function: "easeOutExpo";
        transition-timing-function: "easeOutExpo";
        -o-transition-property: "all";
        -webkit-transition-property: "all";
        -moz-transition-property: "all";
        transition-property: "all";
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        transition-duration: 0.3s; }
      .social ul li i {
        line-height: 50px;
        color: white;
        font-size: 1.6rem; }

/* 
    Created on : 26.1.2017, 12:11:45
    Author     : ondra
*/
.content {
  padding-bottom: 40px; }
  .content h2, .content h3, .content h4 {
    font-weight: bold; }
  .content h2 {
    font-size: 1.8rem;
    padding-top: 15px;
    margin-bottom: 20px; }
  .content h3 {
    font-size: 1.5rem;
    padding-top: 13px;
    margin-bottom: 17px; }
  .content h4 {
    font-size: 1.2rem;
    padding-top: 11px;
    margin-bottom: 13px; }
  .content cite, .content .cite {
    font-size: initial;
    margin-bottom: 30px;
    padding-top: 10px;
    color: #828282;
    padding-left: 30px;
    font-size: 1.1rem;
    line-height: inherit;
    font-style: italic; }
    .content cite:before, .content .cite:before {
      content: none; }
  .content figcaption {
    margin-bottom: 1.3rem;
    font-size: 0.9rem; }
  .content table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 35px; }
    .content table thead {
      border-bottom: 2px solid #FFF; }
    .content table th {
      font-weight: 500;
      text-align: left; }
    .content table tr:nth-child(even) td {
      background-color: #FFF; }
    .content table th, .content table td {
      padding: 8px 10px; }
  .content .survey {
    margin-bottom: 35px; }
    .content .survey ul {
      margin: 0;
      list-style: none; }
      .content .survey ul .option .bar {
        height: 5px;
        background-color: #0279ce;
        border-style: solid;
        border-color: #FFF;
        border-top-width: 5px;
        border-bottom-width: 5px;
        border-left-width: 5px;
        border-right-width: 5px;
        box-sizing: content-box;
        -o-transition-timing-function: "easeOutExpo";
        -webkit-transition-timing-function: "easeOutExpo";
        -moz-transition-timing-function: "easeOutExpo";
        transition-timing-function: "easeOutExpo";
        -o-transition-property: "all";
        -webkit-transition-property: "all";
        -moz-transition-property: "all";
        transition-property: "all";
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        transition-duration: 0.3s; }
      .content .survey ul .option .caption {
        font-weight: bold;
        font-size: 0.9rem;
        margin-bottom: 1.6rem; }

/* 
    Created on : 27.1.2017, 16:55:00
    Author     : ondra
*/
.grey-background {
  background-color: #e6e6e6; }

.portrait {
  margin-bottom: 25px; }

.details {
  margin-bottom: 50px; }
  .details div {
    margin-bottom: 7px; }
    .details div address {
      font-style: normal; }
    .details div .caption {
      min-width: 100px;
      float: left;
      font-weight: 500; }

.leftbar {
  margin-bottom: 50px; }
  .leftbar .details, .leftbar .text {
    margin-right: 40px; }

#tpl_architect_detail .related, #tpl_atelier_detail .related {
  padding-right: 0;
  margin-bottom: 35px; }

.traffic {
  margin-bottom: 50px; }

/* 
    Created on : 30.1.2017, 16:10:33
    Author     : ondra
*/
.big_header {
  height: 450px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .big_header .social ul a li {
    opacity: 0.7; }
  .big_header .social.show-for-small-only {
    padding-top: 0.357rem; }
    .big_header .social.show-for-small-only ul a li {
      float: left; }
  .big_header .valign_bottom {
    bottom: 35px; }
  .big_header .social_inner {
    right: 0.357rem; }
  .big_header .bottom {
    height: 100%;
    position: relative; }
    .big_header .bottom h1, .big_header .bottom .social_inner {
      position: absolute;
      bottom: 35px; }
  .big_header h1 {
    color: #FFF;
    margin-bottom: 0; }
  .big_header .gradient {
    position: absolute;
    bottom: 0;
    height: 110px;
    width: 100%;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0));
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0));
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0));
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0));
    /* Standard syntax; must be last */ }
  .big_header h1, .big_header .social {
    z-index: 9; }
  .big_header .big_header_image {
    margin-bottom: 20px; }

.architects {
  margin-right: 40px;
  margin-bottom: 40px; }
  .architects .item {
    background-color: #e6e6e6;
    margin-bottom: 0.714rem;
    height: 120px; }
    .architects .item:after {
      content: '';
      display: block;
      clear: both; }
    .architects .item:hover, .architects .item:active, .architects .item:focus {
      opacity: 0.85;
      filter: alpha(opacity=85);
      -moz-opacity: 0.85;
      -khtml-opacity: 0.85; }
    .architects .item img {
      float: left;
      padding-right: 20px;
      height: 100%; }
    .architects .item .name {
      color: #0279ce;
      margin-bottom: 10px;
      font-size: inherit;
      line-height: inherit; }
    .architects .item .text {
      color: #000; }

@media (max-width: 64em) {
  .architects {
    margin-right: initial; }
    .architects .item img {
      padding-right: 15px; }

  .leftbar .details, .leftbar .text {
    margin-right: 0; } }
@media (max-width: 64em) and (max-width: 40em) {
  .big_header {
    height: 250px; } }
/* 
    Created on : 31.1.2017, 11:53:34
    Author     : ondra
*/
.filters_form {
  padding: 30px;
  padding-bottom: calc(30px - 1rem); }

label.select {
  overflow: hidden;
  position: relative;
  display: block;
  height: 2.4375rem;
  font-family: inherit;
  margin: 0 0 1rem; }
  label.select:hover, label.select:active, label.select:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }
  label.select:before {
    content: inherit;
    font-family: FontAwesome;
    color: #0279ce;
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    line-height: 2.4375rem; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select, input {
  border-radius: 0 !important; }

select {
  background-image: url(); }
  select:disabled {
    color: #b9b9b9;
    background-color: #FFF; }

.floatl {
  float: left; }

/*CHECKBOXES*/
label.checkbox {
  padding-right: 20px; }
  label.checkbox:hover, label.checkbox:active, label.checkbox:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }

input[type='checkbox'] {
  display: none;
  height: 0;
  width: 0; }

input[type='checkbox'] + label {
  position: relative;
  display: flex;
  margin: .6em 0;
  margin-left: 1px;
  align-items: center; }

input[type='checkbox'] + label > span {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
  width: 1.2em;
  height: 1.2em;
  background: #FFF;
  border-radius: 0;
  cursor: pointer;
  border: calc(0.6em) solid #FFF;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  outline: 1px solid #b9b9b9; }

input[type='checkbox']:checked + label > span {
  border: .3em solid #FFF;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  background: #0279ce; }

/*BUTTONS*/
.button {
  border-radius: 0;
  background-color: #0279ce;
  font-weight: 500; }
  .button:hover, .button:focus, .button:active {
    background-color: #0279ce; }
    .button:hover:hover, .button:hover:active, .button:hover:focus, .button:focus:hover, .button:focus:active, .button:focus:focus, .button:active:hover, .button:active:active, .button:active:focus {
      opacity: 0.85;
      filter: alpha(opacity=85);
      -moz-opacity: 0.85;
      -khtml-opacity: 0.85; }
  .button i {
    display: none; }
  .button.mapmarker i {
    display: inline-block;
    margin-right: 15px; }

/* END BUTTONS*/
.clickable {
  color: #0279ce;
  padding-right: 30px;
  cursor: pointer;
  line-height: 40px; }
  .clickable:hover, .clickable:active, .clickable:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }
  .clickable i {
    margin-right: 10px; }

.showmore_set {
  display: none; }

.showless {
  display: none; }

.subtopbar {
  /*trocha atomickeho css*/ }
  .subtopbar .col {
    float: left;
    padding-right: 10px; }
  .subtopbar .w40p {
    width: 40%; }
  .subtopbar .w25p {
    width: 25%; }
  .subtopbar .w20p {
    width: 20%; }
  .subtopbar .w10p {
    width: 10%; }
  .subtopbar label {
    float: left;
    padding-right: 10px;
    height: 25px;
    text-transform: uppercase; }
  .subtopbar .button {
    width: 100%;
    height: 2.437rem;
    text-transform: uppercase; }
  .subtopbar input {
    margin-bottom: 0; }
  .subtopbar input[type='checkbox'] + label {
    margin-top: 0;
    margin-bottom: 0; }
  .subtopbar.searchbar .col, .subtopbar.loginbar .col {
    padding-top: 10px; }
    .subtopbar.searchbar .col.chb, .subtopbar.loginbar .col.chb {
      padding-top: 17px; }
      .subtopbar.searchbar .col.chb label, .subtopbar.loginbar .col.chb label {
        font-size: 1.1rem; }
    .subtopbar.searchbar .col.pt5, .subtopbar.loginbar .col.pt5 {
      padding-top: 5px; }
    .subtopbar.searchbar .col.pt20, .subtopbar.loginbar .col.pt20 {
      padding-top: 20px; }
    .subtopbar.searchbar .col.fs085, .subtopbar.loginbar .col.fs085 {
      font-size: .85rem; }
    .subtopbar.searchbar .col.tar, .subtopbar.loginbar .col.tar {
      text-align: right; }
    .subtopbar.searchbar .col.pr0, .subtopbar.loginbar .col.pr0 {
      padding-right: 0; }
      .subtopbar.searchbar .col.pr0 div, .subtopbar.loginbar .col.pr0 div {
        padding-right: 0; }

/* 
    Created on : 31.1.2017, 12:16:49
    Author     : ondra
*/
#tpl_buildings .filters_form {
  margin-right: 40px;
  margin-bottom: 10px; }

#tpl_building_detail .comments .chead, #tpl_building_detail .comments .cbody, #tpl_building_detail .comments .call {
  margin-right: 0; }
#tpl_building_detail .related {
  padding-right: 0; }

.map {
  height: 400px;
  padding-right: 40px; }

.stavba_items h3 {
  font-size: 1.5rem;
  padding-top: 13px;
  margin-bottom: 17px;
  font-weight: 600; }
.stavba_items ul {
  margin: 0;
  list-style: none; }
  .stavba_items ul:hover, .stavba_items ul:active, .stavba_items ul:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }
  .stavba_items ul li:before {
    content: "\f054";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.5rem;
    vertical-align: middle;
    padding-right: 0.5rem; }

@media screen and (max-width: 64rem) {
  #tpl_buildings .filters_form {
    margin-right: 0; }

  .map {
    padding-right: 0; } }
/* 
    Created on : 15.2.2017, 11:36:34
    Author     : ondra
*/
.catalog_submenu {
  margin-bottom: 35px; }
  .catalog_submenu .subcategory {
    margin-bottom: 25px; }
  .catalog_submenu h3 {
    color: #FFF;
    background-color: #000;
    height: 43px;
    margin-bottom: 2px;
    padding-left: 20px;
    font-size: 1.1rem;
    line-height: 43px;
    font-weight: 600; }
  .catalog_submenu ul {
    margin: 0;
    list-style: none; }
    .catalog_submenu ul li {
      background-color: #FFF;
      margin-bottom: 2px;
      padding-left: 20px;
      font-size: 1.1rem;
      line-height: 43px; }
      .catalog_submenu ul li:hover {
        background-color: #000;
        color: #FFF; }
      .catalog_submenu ul li a {
        color: #0279ce; }

/* 
    Created on : 15.2.2017, 14:59:00
    Author     : ondra
*/
.js_menu {
  margin-bottom: 20px; }
  .js_menu .inner {
    padding-right: 0.893rem; }
  .js_menu > div {
    padding-left: 0.357rem; }
  .js_menu .item {
    color: #FFF;
    background-color: #0279ce;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    cursor: pointer; }
    .js_menu .item.active {
      color: #4b4b4b;
      background-color: #e6e6e6; }
    .js_menu .item:hover, .js_menu .item:active, .js_menu .item:focus {
      opacity: 0.85;
      filter: alpha(opacity=85);
      -moz-opacity: 0.85;
      -khtml-opacity: 0.85; }
  .js_menu .wrapper:first-child .item {
    margin-left: 0; }
  .js_menu .wrapper:last-child .item {
    margin-right: 0; }

.inzeraty .cat {
  display: none; }
  .inzeraty .cat .inzerat, .inzeraty .cat .longbanner {
    padding-right: 0.893rem; }
  .inzeraty .cat.open {
    display: block; }
.inzeraty .item {
  background-color: #FFF;
  margin-bottom: 0.714rem;
  padding: 15px; }
  .inzeraty .item:hover, .inzeraty .item:active, .inzeraty .item:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }
  .inzeraty .item .title {
    color: #000;
    font-weight: 600; }
  .inzeraty .item .info {
    color: #4b4b4b; }

.reply_inzerat {
  font-size: 1.3rem;
  font-weight: bold; }

@media screen and (max-width: 64rem) {
  .js_menu .inner {
    padding-right: 0.357rem; }
    .js_menu .inner .wrapper:nth-child(odd) .item {
      margin-left: 0; }
    .js_menu .inner .wrapper:nth-child(even) .item {
      margin-right: 0; }

  .inzeraty .cat .inzerat, .inzeraty .cat .longbanner {
    padding-right: 0.357rem; } }
@media screen and (max-width: 64rem) and (max-width: 40rem) {
  .js_menu .inner .wrapper .item {
    margin-left: 0;
    margin-right: 0; } }
/* 
    Created on : 31.1.2017, 12:53:41
    Author     : ondra
*/
@keyframes shrink-bounce {
  0% {
    transform: scale(1); }
  33% {
    transform: scale(0.85); }
  100% {
    transform: scale(1); } }
@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0, 0, 0) rotate(45deg); }
  33% {
    width: .2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg); }
  100% {
    width: .2em;
    height: .5em;
    border-color: #212121;
    transform: translate3d(0, -0.5em, 0) rotate(45deg); } }
/*HOMEPAGE*/
/* 
    Created on : 20.1.2017, 14:48:15
    Author     : ondra
*/
/*NEWS*/
.homepage .news .new {
  color: #000;
  height: calc((240px + 0.714rem) / 6);
  padding-bottom: 0.714rem;
  font-weight: 500;
  margin-right: 0.893rem;
  overflow: hidden; }
  .homepage .news .new .inner {
    background-color: #FFF;
    line-height: calc(((240px + 0.714rem) / 6) - 0.714rem);
    padding-left: 15px;
    padding-right: 68px;
    position: relative;
    height: 100%;
    overflow: hidden; }
  .homepage .news .new .discuss {
    float: right;
    padding-right: 15px;
    color: #0279ce;
    position: absolute;
    right: 0;
    top: 0; }
    .homepage .news .new .discuss i {
      padding-left: 5px; }
    .homepage .news .new .discuss.c0 {
      visibility: hidden; }
  .homepage .news .new:hover, .homepage .news .new:active, .homepage .news .new:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }
  .homepage .news .new.pr {
    color: #FFF; }
    .homepage .news .new.pr .inner {
      background-color: #FFF;
      color: #0279ce;
      font-weight: 900; }
    .homepage .news .new.pr .discuss {
      color: #FFF; }

.midbanner, .facebook, .bannerr_big, .facebook_plugin {
  margin-bottom: 20px; }

#tpl_homepage .midbanner, #tpl_homepage .project_box {
  margin-bottom: 0.714rem; }
#tpl_homepage .partners {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; }

.midbanner {
  margin-right: 0.893rem;
  height: 240px;
  /* background-repeat: no-repeat;
   background-size: contain;
   background-position: left top;*/
  /*img {
      visibility: hidden;
  }*/ }

/*PARTNERS*/
.partners {
  position: relative;
  background: #FFF; }
  .partners h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 13px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-transform: uppercase; }
    .partners h2 span {
      border: none !important; }
    .partners h2 span {
      padding: 4px 5px;
      border: 1px solid #000;
      color: #000;
      font-size: 0.9rem; }
  .partners .title {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center; }
  .partners .become {
    font-size: .9rem;
    text-align: right; }
    .partners .become a {
      color: #000; }
  .partners .bx-wrapper {
    margin-top: 15px;
    margin-bottom: 15px; }
    .partners .bx-wrapper .bx-viewport {
      max-height: 107px; }
      .partners .bx-wrapper .bx-viewport .bxslider {
        position: relative;
        min-height: 100%;
        height: 100%; }
        .partners .bx-wrapper .bx-viewport .bxslider li {
          display: table;
          height: 100%; }
          .partners .bx-wrapper .bx-viewport .bxslider li a {
            vertical-align: middle;
            display: table-cell; }

@media screen and (max-width: 64rem) {
  .homepage .news .new {
    margin-right: 0; }

  .midbanner, .load_more {
    margin-right: 0; }

  .load_more {
    margin-bottom: 10px; }

  .partners .title {
    position: relative; } }
@media screen and (max-width: 64rem) and (max-width: 40em) {
  .midbanner {
    height: inherit; }
    .midbanner img {
      visibility: visible; } }
/*NEWS*/
/* 
    Created on : 24.1.2017, 16:34:39
    Author     : ondra
*/
.sitenews .new, .trending .new, .related .new {
  color: #000;
  padding-bottom: 10px;
  font-weight: 500;
  overflow: hidden; }
  .sitenews .new .inner, .trending .new .inner, .related .new .inner {
    background-color: #e6e6e6;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    overflow: hidden; }
  .sitenews .new .discuss, .trending .new .discuss, .related .new .discuss {
    color: #0279ce; }
    .sitenews .new .discuss i, .trending .new .discuss i, .related .new .discuss i {
      padding-left: 5px; }
    .sitenews .new .discuss.c0, .trending .new .discuss.c0, .related .new .discuss.c0 {
      /*color: $grey3;*/
      visibility: hidden; }
  .sitenews .new:hover, .sitenews .new:active, .sitenews .new:focus, .trending .new:hover, .trending .new:active, .trending .new:focus, .related .new:hover, .related .new:active, .related .new:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; }

.sitenews {
  margin-right: 40px; }
  .sitenews .new {
    height: 70px; }

.related {
  padding-right: 40px; }
  .related .new {
    height: 70px; }

.trending {
  margin-bottom: 35px; }
  .trending .new {
    height: auto; }
    .trending .new .inner {
      padding-bottom: 15px;
      padding-top: 15px; }
      .trending .new .inner .title {
        line-height: 1.4rem; }
  .trending h3 {
    font-size: 1.4rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 1.6rem;
    margin-top: 1.1rem; }

.longbanner {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .longbanner img {
    margin-bottom: 10px; }

.tpl_news .rightbar .calendar, .tpl_news .rightbar .bannerr_small, .tpl_news .rightbar .bannerr_big, #tpl_new_detail .rightbar .calendar, #tpl_new_detail .rightbar .bannerr_small, #tpl_new_detail .rightbar .bannerr_big {
  margin-bottom: 35px; }

#tpl_new_detail h1 {
  min-height: 120px;
  margin-bottom: 0; }

.parameters {
  color: #4b4b4b; }
  .parameters .par {
    margin-bottom: 15px; }
    .parameters .par .val .tag {
      color: #0279ce; }
    .parameters .par a {
      color: #0279ce; }

.maintext .introtext, .maintext .content {
  margin-right: 0.893rem; }
.maintext .introtext {
  color: #4b4b4b;
  font-size: 1.1rem; }
.maintext .content {
  color: #000; }

.related_objects {
  padding-right: 40px; }

@media screen and (max-width: 64rem) {
  .sitenews, .trending {
    margin-right: 0; }

  #tpl_new_detail h1 {
    margin-bottom: 20px; }

  .gallery_slider, .maintext, .comments, .related {
    padding-right: 0; }

  .related {
    margin-bottom: 45px; } }
/* 
    Created on : 25.1.2017, 13:22:59
    Author     : ondra
*/
.gallery_slider {
  padding-right: calc(40px + 0.357rem);
  margin-bottom: 35px; }
  .gallery_slider .bxslider_gallery {
    margin: 0; }
  .gallery_slider .bx-wrapper {
    margin-bottom: 15px; }
  .gallery_slider #bx-pager {
    white-space: nowrap;
    overflow-x: auto; }
    .gallery_slider #bx-pager img {
      display: inline-block; }

/*lightbox*/
.fancybox-skin {
  padding: 0 !important; }

.fancybox-nav span {
  width: 50px;
  height: 50px;
  background-image: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2em;
  color: #0279ce;
  background-color: rgba(255, 255, 255, 0.55);
  text-align: center;
  line-height: 1.7em; }
.fancybox-nav.fancybox-prev span {
  left: 0; }
  .fancybox-nav.fancybox-prev span:before {
    content: "\f053"; }
.fancybox-nav.fancybox-next span {
  right: 0; }
  .fancybox-nav.fancybox-next span:before {
    content: "\f054"; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-close {
  background-image: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 5px;
  right: 20px;
  width: 0;
  height: 0;
  font-size: 1em; }
  .fancybox-close:before {
    content: "\f00d"; }
  .fancybox-close:hover, .fancybox-close:active, .fancybox-close:focus {
    color: #0279ce; }
    .fancybox-close:hover:hover, .fancybox-close:hover:active, .fancybox-close:hover:focus, .fancybox-close:active:hover, .fancybox-close:active:active, .fancybox-close:active:focus, .fancybox-close:focus:hover, .fancybox-close:focus:active, .fancybox-close:focus:focus {
      opacity: 0.85;
      filter: alpha(opacity=85);
      -moz-opacity: 0.85;
      -khtml-opacity: 0.85; }

.fancybox-next {
  right: 400px; }

.photobox .photo {
  width: calc(100% - 400px);
  height: 100%;
  float: left; }
  .photobox .photo img {
    height: 100%; }
.photobox .description {
  width: 400px;
  float: right;
  padding: 25px;
  height: 100%;
  overflow: auto;
  position: relative; }
  .photobox .description .inner {
    min-height: calc(100% - 25px);
    position: relative;
    padding-bottom: 50px; }
  .photobox .description .content {
    padding-bottom: 25px; }
  .photobox .description .social {
    height: auto;
    position: absolute;
    bottom: 0; }
    .photobox .description .social ul a li {
      float: initial; }

/*OFF CANVAS*/
/* 
    Created on : 23.1.2017, 11:58:36
    Author     : ondra
*/
.title-bar a {
  color: #FFF; }
.title-bar .title-bar-title {
  text-transform: uppercase;
  margin-left: 20px; }

.off-canvas {
  background-color: #000;
  color: #FFF; }
  .off-canvas ul {
    list-style: none;
    margin: 0;
    border-bottom: 5px solid #FFF; }
    .off-canvas ul li {
      border-bottom: 1px solid #FFF; }
      .off-canvas ul li a {
        color: #FFF; }
        .off-canvas ul li a div {
          height: 45px;
          padding: 10px;
          vertical-align: middle;
          width: 100%; }
          .off-canvas ul li a div:hover, .off-canvas ul li a div:active, .off-canvas ul li a div:focus {
            background-color: #0279ce; }
      .off-canvas ul li.active {
        background-color: #0279ce; }
    .off-canvas ul:last-child {
      border-bottom: none; }

/*# sourceMappingURL=main.css.map */
